*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
!build/*.keep
.vs2019/
.vscode/
.idea/
*.sln.iml
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
nunit-*.xml
*.xunit.xml
*.dotCover
wwwroot/
node_modules/
bower_components/
.yarn/
.pnp.*
.yarnrc.yml
.env
.env.*
ScaffoldingReadMe.txt
StyleCopReport.xml
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.ipch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.log
*.vspscc
*.vssscc
.project.lock.json
project.lock.json
artifacts/
.paket/
paket-files/
.fake/
.idea/
*.sln.iml
.idea/.idea.WebServer
.idea/httpRequests/
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
coverage*.json
coverage*.xml
coverage*.info
report*/
*.ncrunch*
*.vspscc
*.vssscc
*.dbmdl
*.bak
*.sql
*.sqlproj.user
*.dbmdl
*.log
*.tlog
*.bak
*.tmp
*.old
*.orig
*.sdf
*.cache
*.db
.idea/.idea.WebServers.xml
*.dmp
*.trx
*.coverage
*.coveragexml
publish/
